.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.container > a {
    text-decoration: none;
}

.container > a:hover {
    font-weight: bold;
}

.current {
    font-weight: bold;
}
